#male {
	background: url(male.png) no-repeat right center;
	padding:4px;
}

#female {
	background: url(female.png) no-repeat right center;
	padding:4px;
}

#all {
	background: url(group.png) no-repeat right center;
	padding:4px;
}

#syntax {
	background: url(keyboard.png) no-repeat right center;
	padding:4px;
}