#male {
	background: url(img/male.png) no-repeat right center;
	padding:4px;
}

#female {
	background: url(img/female.png) no-repeat right center;
	padding:4px;
}

#all {
	background: url(img/group.png) no-repeat right center;
	padding:4px;
}

#syntax {
	background: url(img/keyboard.png) no-repeat right center;
	padding:4px;
}